* {
  padding: 0;
  margin: 0;
}

div {
  display: block;
}

a {
  cursor: pointer;
  color: #3B5998;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  font-size: 11px;
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  color: #333;
  line-height: 1.28;
  text-align: left;
  direction: ltr;
  background-color:#E7EBF2;
}

#out {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #cccccc;
  width: 800px;
  z-index: 1000;
  opacity: 0.65; /* CSS3 Firefox2 e Opera9 */
  -moz-opacity: 0.65; /* Mozilla */
  filter: alpha(opacity=65); /* IE */
}

#out p {
  border: 1px dashed #333;
  padding: 4px;
  margin: 6px;
}

#top {
  background-color: #3B5998;
  border-bottom: 1px solid #133783;
  color: #D8DFEA;
  padding-top: 10px;
}


#title {
  font-size: 22px;
  font-weight: bold;
}

#header {
  left: auto !important;
  margin: 0 auto !important;
  height: 26px;
  width: 1000px;/* 981+205 */
}

#navigation {
  float: left;
}

#login {
  float: right;
}

#header a {
  color: #D8DFEA;
  padding: 10px;
}

#header a:hover {
  color: white;
  text-decoration: none;
  background-color: #526DA4;
}


#container {
  left: auto !important;
  margin: 0 auto !important;
  position: relative !important;
  width: 1000px;
  min-height: 100px;
}

#content {
  width: auto;
  min-height: 100px;
  background-color:white;
  border:1px solid #C4CDE0;
  border-top: 0;
  padding: 30px 41px 20px 41px;
}

#footer {
  margin-top: 20px;
  padding: 8px 0 38px;
  border-top:1px solid #CCC;
  color: gray;
}


#matchs {
  position: absolute;
  top: 40px;
  width: 800px;
  left: 50%;
  margin-left: -400px;
  z-index: 999;
}

.match {
  position: relative;
  height: 200px;
  width: 800px;
  border: 1px dashed #000;
  background-color: #ccc;
}


.match .gray_div, .match .red_div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  text-align: center;
  font-size: 42px;
  line-height:200px;
  vertical-align: middle;
}
.match .gray_div {
  background-color: gray;
  color: red;
}
.match .red_div {
  background-color: red;
  color: black;
}

.match .player_image, .match .challenger_image {
  position: absolute;
  height: 200px;
  width:  150px;
  top: 0px;
}
.match .player_image {
  left: 0px;
}
.match .challenger_image {
  right: 0px;
}

.match .round {
  position: absolute;
  left: 350px;
  top: 12px;
  width: 100px;
  text-align: center;
  font-size: 32px;
  color: red;
  padding: 12px;
  background-color: #ddd;
  font-weight: bold;
}

.match .choses {
  position: absolute;
  top: 0px;
  width: 74px;
  height: 100%;
}

.match .player_choses {
  left: 200px;
  background-color: #eee;
}
.match .player_choses img {
  border: 0 solid blue;
}

.match .challenger_choses {
  right: 200px;
  background-color: #aaa;
}

.match .challenger_choses img {
  border: 0 solid red;
}

.match .choses img {
  position: relative;
  display: block;
  height: 50px;
  width:  50px;
  margin: 12px;
}



