{% extends "base.html" %}

{% block title %}Admins area{% endblock %}

{% block content %}
  <div>
    <form action="" method="post">
      Create a new Game!<br />
      <input type="hidden" name="option" value="create_game" />
      Name: <input type="text" name="name" /><br />
      <input type="submit" value="Create new Game" />
    </form>
  </div>
  
  <div>
    Game list:
    <ul>
      
      {% for game in games %}
        <li>
          <form action="" method="post">
          
            <input type="hidden" name="game_id" value="{{ game.id|e }}" />
            <input name="active" type="checkbox" disabled="disabled"
              {% if game.active %} checked="checked" {% endif %}
            />
            {% if game.active %}
              <a href="/game/{{ game.slug }}">{{ game.name|e }}</a>
              <input type="submit" name="option" value="Deactivate" />
            {% else %}
              {{ game.name|e }}
              <input type="submit" name="option" value="Activate" />
            {% endif %}
          
          </form>
        </li>
      {% endfor %}
        
    </ul>
  </div>
  
{% endblock %}
