<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//PT">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
  <head>
    {% block head %}
      <title>{% block title %}{% endblock %} - JankenPony</title>
      <link rel="shortcut icon" href="/favicon.ico">
      <link rel="stylesheet" href="/style.css" />
      <!-- jQuery imports -->
      <script type="text/javascript" src="/jquery-1.4.4.min.js"></script>
		  <script type="text/javascript" src="/jquery-ui-1.8.9.custom.min.js"></script>
    <script type="text/javascript" src="/_ah/channel/jsapi"></script>
		  <!-- My javascript imports -->
      <script type="text/javascript" src="/main.js"></script>
      <script type="text/javascript" src="/main_action.js"></script>
      <script type="text/javascript" src="/main_channel.js"></script>
      <script type="text/javascript" src="/main_handler.js"></script>
      <!-- This is just for debug -->
		  <script type="text/javascript" src="/dump.js"></script>
    {% endblock %}
  </head>
<body>
  
  <div id="out"></div>
  <div id="matchs">MATCHS:</div>
  
  <div id="top">
    <div id="header">
      <div id="navigation">
        <a href="/" id="title">JANKENPONY</a> {% block header %}{% endblock %}
      </div>
      
      <div id="login">
        Login:
        {% if player.is_anonymous %}
          <a href="{{ player.login_url }}">Login google's account</a>
        {% else %}
          {{ player.nickname|e }}
          {% if player.is_admin %}
            <a href="/admin">Admin area</a>
          {% endif %}
          <a href="{{ player.logout_url }}">logout</a>
        {% endif %}
      </div>
      
    </div>
  </div>
  
  <div id="center">
    <div id="container">
    
      <div id="content">
        {% block content %}{% endblock %}
      </div>
      
      <div id="footer">
        {% block footer %}{% endblock %}
        &copy; Copyright 2012 by <a href="http://domain.invalid/">jankenpony</a>.
      </div>
    
    </div>
  </div>
  
</body>
