<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//PT">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
  <head>
    {% block head %}
      <title>{% block title %}{% endblock %} - JankenPony</title>
      <link rel="shortcut icon" href="/favicon.ico">
      <link rel="stylesheet" href="/style.css" />
      <!-- jQuery imports -->
      <script type="text/javascript" src="/jquery-1.4.4.min.js"></script>
		  <script type="text/javascript" src="/jquery-ui-1.8.9.custom.min.js"></script>
    <script type="text/javascript" src="/_ah/channel/jsapi"></script>
		  <!-- My javascript imports -->
      <script type="text/javascript" src="/main.js"></script>
      <script type="text/javascript" src="/main_action.js"></script>
      <script type="text/javascript" src="/main_channel.js"></script>
      <script type="text/javascript" src="/main_handler.js"></script>
      <script type="text/javascript" src="/main_screen.js"></script>
      <!-- This is just for debug -->
		  <script type="text/javascript" src="/dump.js"></script>
		  
		  {# Here we are checking if player is_anonymous or not
		     if he is anonymous, he can't open a channel and will not
		     able to play a game. #}
	    <script type="text/javascript">
        $(document).ready(
          function(event){
	          {% if player.is_anonymous %}
              main.start_anonymous(event);
            {% else %}
              main.start(event);
            {% endif %}
          }
        );
        
        {% if player.token %}
	        main.channel.token = "{{ player.token|e }}";
	      {% endif %}
	    </script>
		  
		  
    {% endblock %}
  </head>
<body>
  AUEHUAEHHAUESHUAEHUHUHUAEHUHAUEHUAHEUHAUEHU
  <div id="messages">
    {% for message in messages %}
      <p>{{ message|e }}<p>
    {% endfor %}
  </div>
  
  <div id="out">
    <div>
      !!! CHANGED HERE JUST FOR TESTING !!!
      <input id="out_active" type="checkbox"{% if is_development %} checked="checked"{% endif %}> -> recife messages in the screen.
    </div>
  </div>
  
  <div id="matchs"></div>
  
  <div id="top">
    <div id="header">
      <div id="navigation">
        <a href="/" id="title">JANKENPONY</a> {% block header %}{% endblock %}
      </div>
      
      <div id="login">
        
        <div style="display: inline;">[
          {% if is_development %}
            Development Server
          {% else %}
            Google Server
          {% endif %}
        ]</div>
        
        Login:
        {% if player.is_anonymous %}
          <a href="{{ player.login_url }}">Login google's account</a>
        {% else %}
          {{ player.nickname|e }}
          {% if player.is_admin %}
            <a href="/admin">Admin area</a>
          {% endif %}
          <a href="{{ player.logout_url }}">logout</a>
        {% endif %}
      </div>
      
    </div>
  </div>
  
  <div id="center">
    <div id="container">
    
      <div id="content">
        {% block content %}{% endblock %}
      </div>
      
      <div id="footer">
        {% block footer %}{% endblock %}
        &copy; Copyright 2012 by <a href="http://domain.invalid/">jankenpony</a>.
      </div>
    
    </div>
  </div>
  
</body>
