{% extends "base.html" %}

{% block title %}Página principal{% endblock %}

{% block content %}
  <div>
    {% if games %}
      
      {% if player_status %}
        <div>
          Your games that you are in:
          <ul>
            {% for status in player_status %}
              <li>
                <a href="/game/{{ status.game.slug }}">
                  {{ status.game.name|e }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        
      {% else %}
        <div>
          You are playing nothing at the momment, please join in a game.
        </div>
      {% endif %}
      
      
      <div>
        Game list:
        <ul>
          {% for game in games %}
            <li><a href="/game/{{ game.slug }}">{{ game.name|e }}</a></li>
          {% endfor %}
        </ul>
      </div>
      
    {% else %}
    <p>There is no active games at momment. Come back soon</p>
    {% endif %}
  </div>
{% endblock %}
